Source: open-fprintd
Section: admin
Priority: optional
Maintainer: uunicorn <viktor.dragomiretskyy@gmail.com>
Build-Depends: debhelper (>= 11~), 
 dh-python, 
 python3-all, 
 python3-setuptools
X-Python3-Version: >= 3.6
Standards-Version: 4.1.4

Package: open-fprintd
Architecture: all
Depends: ${python3:Depends},
 ${misc:Depends},
 python3-dbus,
 dbus
Breaks: fprintd
Conflicts: fprintd
Replaces: fprintd
XB-Python-Version: ${python3:Versions}
Description: Open fprintd DBus service.
 This package lets you integrate fingerprint driver backends with the rest of
 the system.
 .
 Warning: this is an experimental software. It lacks proper auth checks.
 Install and use at your own risk.
